---
layout: base
---

<article id="post__content">
        <h1 id="post__title" data-identifier="{{ page.date | date: "%Y%m%d" }}">{{ page.title }}</h1>

    {% include tags.html %}
<section>
{{ content }}
</section>
</article> <!-- end #post__content -->

{% include share.html %}

<br>

<script>
    var idcomments_acct = '43b5f1195c4058c8e3297caca2d70c2a';
    var idcomments_post_id;
    var idcomments_post_url;
</script>
<span id="IDCommentsPostTitle" style="display:none"></span>
<script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>